<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-autowire="byName">
    
  	<!-- 开放API，主要用于手机终端使用 -->
	<bean name="MobileAction" class="com.gmonitor.api.action.InfoAction" scope="prototype"></bean>
</beans>