@charset "UTF-8";
#main {
	width: 100%;
	height: 100%;
}
.header {
	background-color: #fff;
    height: 88px;
    width:auto;
	display: none;
    z-index: 3;
}
.show {
	display : block;
}
.header .header-title {
    float: left;
    height: 57px;
    overflow: hidden;
    white-space: nowrap;
}
.header .header-title .logo {
    height: 50px;
    margin: 5px 0 0 28px;
}
.header .header-title .logo img{
    width: 65px;
    height: 50px;
}
.header-title .logo span {
	vertical-align:middle;
    color: #000;
    /*cursor: pointer;*/
    display: inline-block;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    font-weight: bold;
    left: 10px;
    margin-top: -43px;
    padding-left: 5px;
}
.header .login-mess {
	height: 57px;
	display: inline;
	float: right;
	left: 0;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #b7b7b7;
}
.header .login-mess .login-mess-account {
	*width:auto;
	word-break:keep-all;
	text-overflow:ellipsis;
	white-space:normal;
	*white-space:nowrap;
	overflow:hidden;
	display: inline;
	float: right;
	padding: 22px 5px 0;
}
.header .login-mess .login-mess-account a{
	color: #000;
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    cursor:pointer;
}
.header .login-mess .login-mess-account .down{
	height: 100%;
	border-right: 1px solid #000;
}
.header .login-mess a span{
    color: #000;
    font-size: 12px;
	cursor: pointer;
	display: inline-block;
}
.header .login-mess  a span:hover{
   text-decoration: underline;
}
.header .login-mess .quick-menu {
    background-color: #fff;
    border: 1px solid #000;
    display: none;
    position: absolute;
    top: 45px;
    z-index: 9;
    right: 45px;
}

.header .login-mess .quick-menu p a{
	padding: 10px;
	cursor: pointer;
    display: block;
}	

.header .login-mess .quick-menu p:hover a{
	background-color: #ffbc00;
    color: #000;
}
.header .email{
	display: inline-block;
	position: relative;
	background: url('../images/menu-ico.png') no-repeat -225px -22px;
	background:	url("../images/menu-ico.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: -225px -22px;
	background-color: rgba(0, 0, 0, 0);
	width: 14px;
	height: 11px;
}

.header .email i{
	position: absolute;
	width: 6px;
	height:6px;
	border-radius: 50%;
	background-color: #f31b5d;
	right: -3px;
	top:-3px;
}

.header .nav-bar {
   	height: 31px;
    margin-top: 57px;
    position: absolute;
    width: 100%;
    background: url(../images/gree_03.png) 0 0 repeat-x;
	border-bottom: #ffbc00 solid 2px;
	box-shadow: #b7b7b7 0px 3px 4px;
}
.header .nav-bar ul {
	padding-left: 30px;
}
.header .nav-bar li {
    margin: 0 0 0 10px;
	cursor: pointer;
	float: left;
}
.header .nav-bar a {
    color: #fff;
    float: left;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    padding: 0 10px;
}
.header .nav-bar li:hover a,.nav-bar li.current a{
	background-color: #ffbc00;
    color: #000;
    border-radius: 5px 5px 0 0;
}
#mainPanel-all .mainPanel {
	width: 100%;
	height: 100%;
	display:none;
}
#mainPanel-all .current {
	display: block;
}
#leftPanel {
    background-color: #f5f6f7;
    bottom: 0;
    font-family: "Microsoft Yahei";
    left: 0;
	top: 0;
	float:left;
	height:100%;
}
#rightPanel {
	float: left;
	height:100%;
}