#flashExample {
	height: 400px;
    overflow: auto;
    padding: 20px;
    position: fixed;
    width: 400px;
}
#operateExample {
	margin-left: 420px;
    padding: 0 20px 20px;
}
.player-params{
	padding: 0 0 10px 20px;
}
.player-params .player-param{
	padding: 0 0 10px;
	white-space:normal; 
	word-break:break-all;
	overflow:hidden;
}
.player-params .player-param a.title {
	color: #333;
}
.player-params .player-param a.title:focus, .player-params .player-param a.title:hover{
	color: #333;
	text-decoration: none;
}