<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-autowire="byName">
    
  	<!-- 后台管理 -->
	<bean id="gzBkUserInfoDao"
		class="com.gz.system.dao.impl.GzBkUserInfoDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
  	<bean id="gzUserInfoDao"
		class="com.gz.system.dao.impl.GzUserInfoDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gzBkUserService"
		class="com.gz.system.service.impl.GzBkUserServiceImpl">
		<property name="gzBkUserInfoDao" ref ="gzBkUserInfoDao" />
		<property name="paginationDao" ref ="paginationDao" />
	</bean>
	<bean id="gzUserService"
		class="com.gz.system.service.impl.GzUserServiceImpl">
		<property name="gzUserInfoDao" ref ="gzUserInfoDao" />
		<property name="paginationDao" ref ="paginationDao" />
	</bean>
	<bean name="GzBkLoginAction"
		class="com.gz.system.action.GzBkLoginAction"
		scope="prototype">
		<property name="gzBkUserService" ref="gzBkUserService" />
		<property name="gzUserService" ref="gzUserService" />
	</bean>
</beans>